fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
psycopg[binary]
chromadb
langgraph
langchain
langchain-openai
langchain-groq
PyMuPDF
python-docx
python-pptx
pandas
openpyxl
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
